/* *{
    background-color: black;
    color: aliceblue;
}

.btn-class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.btn{
   background-color: blue;
    border-radius: 20px;
    padding: 20px;
    border: none;
   
}
.btn2{
    background-color: rgb(255, 0, 0);
     border-radius: 20px;
     padding: 20px;
     border: none;
    
 }
span{
 
    color: rgb(255, 183, 0);
} */